@page "/Prioridad/Delete"
@page "/Prioridad/Delete/{PrioridadId:int}"
@inject PrioridadService PrioridadService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Eliminar Prioridad</PageTitle>
@if (Prioridad != null)
{
    <div class="container">
        <div class="card shadow-header">
            @*Header*@
            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Prioridad</strong></h3>
            </div>

            @*Body*@
            <div class="card-body">
                <h5><strong>¿Estás seguro de que quieres eliminar este técnico?</strong></h5>
                <div class="mb-1">
                    <p class="mb-0">PrioridadId: @Prioridad.PrioridadId</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Descripci&oacute;n: @Prioridad.Descripcion</p>
                </div>

                <div class="mb-1">
                    <p class="mb-0">Tiempo: @Prioridad.Tiempo</p>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer">
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarPrioridad"><i class="bi bi-trash-fill"></i> Eliminar</button>
                <a type="button" href="/Prioridad/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
            </div>
        </div>
    </div>
}
else
{
    <p>Prioridad no encontrada.</p>
}

@code {
    [Parameter]
    public int PrioridadId { get; set; }
    public Prioridades? Prioridad { get; set; } = new Prioridades();

    protected override async Task OnInitializedAsync()
    {
        if (PrioridadId != 0)
        {
            Prioridad = await PrioridadService.Buscar(PrioridadId);
        }
    }

    public async Task EliminarPrioridad()
    {
        if (PrioridadId == 0 || Prioridad == null)
        {
            return;
        }

        if (await PrioridadService.Eliminar(PrioridadId))
        {
            navigationManager.NavigateTo("/Prioridad/Index");
        }
    }


}

