@page "/TipoTecnico/Create"
@rendermode InteractiveServer
@inject TiposTecnicoServices tiposTecnicoService
@inject NavigationManager navigation

<PageTitle>Crear nuevo tipo de t&eacute;cnico</PageTitle>
<EditForm Model="tecnico" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <Toasts class="p-3" Messages="MensajeToast" Placement="ToastsPlacement.TopRight" />
    <div class="container">
        <div class="card shadow-lg">
            @*Header*@
            <div class="card-header bg-primary text-white text-center">
                <h2><strong>Crear nuevo tipo de t&eacute;cnico</strong></h2>
            </div>
            @*Body*@
            <div class="card-body">
                @*Id*@
                <label class="form-label" for="id"><strong>TipoId</strong></label>
                <InputNumber id="id" class="form-control" @bind-Value="tecnico.TipoId" readonly></InputNumber>

                @*Descripcion*@
                <label class="form-label" for="descripcion"><strong>Descripci&oacute;n</strong></label>
                <InputText id="nombres" class="form-control" @bind-Value="tecnico.Descripcion"></InputText>
                <ValidationMessage For="@(() => tecnico.Descripcion)"></ValidationMessage>
            </div>
            @*Footer*@
            <div class="card-footer">
                <a type="button" href="/TipoTecnico/Index" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
                <button type="submit" class="btn btn-success bi bi-floppy-fill">  Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    public TiposTecnicos tecnico { get; set; } = new TiposTecnicos();
    List<ToastMessage> MensajeToast = new List<ToastMessage>();

    private ToastMessage CreateToastMessage(ToastType toastType, string mensaje)
    => new ToastMessage
        {
            Type = toastType,
            Title = "Notificación",
            HelpText = $"{DateTime.Now}",
            Message = mensaje,
        };

    private void Mensaje(ToastType toastType, string mensaje)
    {
        MensajeToast.Add(CreateToastMessage(toastType, mensaje));
    }

    public async Task Crear()
    {
        if (!await Validar())
        {
            await tiposTecnicoService.Guardar(tecnico);
            Mensaje(ToastType.Success, "Tipo de técnico guardado correctamente.");
            tecnico = new TiposTecnicos();
        }
        else
        {
            Mensaje(ToastType.Danger, "Ya existe un tipo de técnico con esa descripción.");
        }
    }

    public async Task<bool> Validar()
    {
        return await tiposTecnicoService.ExisteTipoTecnicoDescripcion(tecnico.Descripcion);
    }

    public void Volver()
    {
        navigation.NavigateTo("/TipoTecnico/Index");
    }
}

