@page "/"

<PageTitle>Home</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card card-header bg-primary text-white">
            <div class="text-center">
                <h1><strong>Registro de t&eacute;cnicos</strong></h1>
            </div>
        </div>
        <div class="card-header">
            <div class="text-center">
                <h3><strong>Bienvenido al registro de t&eacute;cnicos</strong></h3>
            </div>
        </div>
        <div>
            <h6><strong>Creado por jose Gabriel estrella</strong></h6>
        </div>
    </div>
</div>
